<h1>Root#index</h1>

<%= render "users/shared/links", resource_name: :user, devise_mapping: Devise.mappings[:user] %>

<h2>User details</h2>

<%= link_to "Edit User", edit_registration_path(current_user) %>
<%= link_to "View Passkeys", users_passkeys_path %>

<code>
<%= current_user.email %>
<%= current_user.webauthn_id %>
</code>
